@font-face {
  font-family: 'Geist-Font';
  src: url('./assets/font/Geist[wght].woff2') format('woff2');
  font-weight: normal; 
  font-style: normal; 
}

*{
  font-family: 'Geist-Font';
}

body{
  margin: 0;
  padding: 8px 5%;
}